.app{
  padding: 20px;
}
.app__right{
  height: 100%;
}
.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__left{
  flex: 0.9;
}
.app__countContinentInfo{
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.app__countContinentInfo > p{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}
.app__countryname{
  margin-bottom: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media (max-width:990px) {
  .app{
    flex-direction: column;
  }
  .app__stats{
    display: flex;
    flex-direction: column;
}
}